<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,46}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,24}</string>
                <key>spriteSize</key>
                <string>{126,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,161},{126,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Barn.png</string>
            <key>size</key>
            <string>{156,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7febf7f02d7adb62f34e3f87abec785c:f51788c0d7bca45cc8aacfb03a94d3e4:f0ab44166bfa5db68aa2442be09381a1$</string>
            <key>textureFileName</key>
            <string>Barn.png</string>
        </dict>
    </dict>
</plist>
