<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,256}</string>
                <key>spriteSourceSize</key>
                <string>{292,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,256}</string>
                <key>spriteSourceSize</key>
                <string>{260,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{260,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,256}</string>
                <key>spriteSourceSize</key>
                <string>{227,256}</string>
                <key>textureRect</key>
                <string>{{259,259},{227,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,256}</string>
                <key>spriteSourceSize</key>
                <string>{215,256}</string>
                <key>textureRect</key>
                <string>{{521,1},{215,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,256}</string>
                <key>spriteSourceSize</key>
                <string>{188,256}</string>
                <key>textureRect</key>
                <string>{{1,295},{188,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Barrack.png</string>
            <key>size</key>
            <string>{737,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e391620b6a10f78e0e9c85ba87ba23d2:10e4d2cc6f94dc5108c3b595cf020893:06446c6cef65191966d1f901ba7ceb8b$</string>
            <key>textureFileName</key>
            <string>Barrack.png</string>
        </dict>
    </dict>
</plist>
