<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{240,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{240,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1,443},{240,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{234,148}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1,587},{234,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{240,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1,297},{240,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{1,149},{240,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Farmland.png</string>
            <key>size</key>
            <string>{242,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925b9f180b5d6d6afb8e71b07ef30e80:2fb12e8a5fb74d0be695af965cca1676:6ef4b5143640e8c743ca8978fab45f32$</string>
            <key>textureFileName</key>
            <string>Farmland.png</string>
        </dict>
    </dict>
</plist>
