<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,224}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{1354,1},{320,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,256}</string>
                <key>spriteSourceSize</key>
                <string>{363,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,256}</string>
                <key>spriteSourceSize</key>
                <string>{342,256}</string>
                <key>textureRect</key>
                <string>{{366,1},{342,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,256}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{710,1},{320,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,256}</string>
                <key>spriteSourceSize</key>
                <string>{320,256}</string>
                <key>textureRect</key>
                <string>{{1032,1},{320,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Headquarter.png</string>
            <key>size</key>
            <string>{1675,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc4f504d473af8d3a0455c00bb9403f:7430925b3d58c8921465060f0314e7d8:fd0dae06f8235c8c39088ce2698f9b28$</string>
            <key>textureFileName</key>
            <string>Headquarter.png</string>
        </dict>
    </dict>
</plist>
