<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,343},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,181},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{172,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Restaurant.png</string>
            <key>size</key>
            <string>{174,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf7a6993d135245b60466ee7a421e6e2:2ea226970e859f473d74aaa7992383ca:1b7ba3c98a557f4a2dcb59388eaac7bd$</string>
            <key>textureFileName</key>
            <string>Restaurant.png</string>
        </dict>
    </dict>
</plist>
