<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,256}</string>
                <key>spriteSourceSize</key>
                <string>{307,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,256}</string>
                <key>spriteSourceSize</key>
                <string>{263,256}</string>
                <key>textureRect</key>
                <string>{{259,1},{263,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,256}</string>
                <key>spriteSourceSize</key>
                <string>{239,256}</string>
                <key>textureRect</key>
                <string>{{517,1},{239,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,256}</string>
                <key>spriteSourceSize</key>
                <string>{215,256}</string>
                <key>textureRect</key>
                <string>{{517,242},{215,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,256}</string>
                <key>spriteSourceSize</key>
                <string>{198,256}</string>
                <key>textureRect</key>
                <string>{{259,266},{198,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Restaurant.png</string>
            <key>size</key>
            <string>{774,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bd0665f1c737c1a6a7612b7cd7ee47b:ae83cd5efb4ed65491fc3933762d387a:1b7ba3c98a557f4a2dcb59388eaac7bd$</string>
            <key>textureFileName</key>
            <string>Restaurant.png</string>
        </dict>
    </dict>
</plist>
