<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{281,228}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{469,1},{281,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{231,238}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{1172,1},{231,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{281,228}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{699,1},{281,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{231,238}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{1320,241},{231,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{285,232}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>front_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{241,242}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{929,1},{241,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{285,232}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{235,1},{285,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>front_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{241,242}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{1077,245},{241,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rest_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{1,288},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rest_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{270,288},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rest_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{539,284},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rest_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{295,242}</string>
                <key>textureRect</key>
                <string>{{808,284},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{1552,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f991700da693bbdd6d97158f4f0bbb59:c4975257589ffd8145446b3284605371:d4a7d43944db94624838716d30efa568$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
