<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Duck _Flying_BottomLeft_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{141,82},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_BottomLeft_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{1,169},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_BottomLeft_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{78,82},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_BottomLeft_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{1,169},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_BottomLeft_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{141,82},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_BottomRight_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{156,1},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_BottomRight_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{78,1},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_BottomRight_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{79,162},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_BottomRight_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{78,1},{79,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_BottomRight_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{156,1},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_TopLeft_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_TopLeft_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Flying_TopLeft_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{142,161},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_TopRight_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{181,238},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Flying_TopRight_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{181,238},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomLeft_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{1,250},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomLeft_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{63,250},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomLeft_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{392,1},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomLeft_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{378,125},{61,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomLeft_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{378,125},{61,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomLeft_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{392,1},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomLeft_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{63,250},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomRight_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{380,188},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomRight_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{380,250},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomRight_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{392,63},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomRight_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{317,219},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomRight_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{61,65}</string>
                <key>textureRect</key>
                <string>{{317,219},{61,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_BottomRight_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{392,63},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck _Walking_BottomRight_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{380,250},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{283,1},{53,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{324,73},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{228,1},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{125,242},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{125,242},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{228,1},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopLeft_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{324,73},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{278,147},{53,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{338,1},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{269,74},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{213,80},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{213,80},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{53,71}</string>
                <key>textureRect</key>
                <string>{{269,74},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck _Walking_TopRight_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{338,1},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck_Flying _TopLeft_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{142,161},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck_Flying _TopLeft_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,74}</string>
                <key>textureRect</key>
                <string>{{211,161},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck_Flying _TopRight_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{1,85},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck_Flying _TopRight_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,74}</string>
                <key>textureRect</key>
                <string>{{250,237},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Duck_Flying _TopRight_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{1,85},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Duck.png</string>
            <key>size</key>
            <string>{455,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0e9cc59dac919e9b22cab103e23b6d7:45e933d2d88ffb6252bd0971de208ce3:c4a97921dcab5f31b5f3db98db3db632$</string>
            <key>textureFileName</key>
            <string>Duck.png</string>
        </dict>
    </dict>
</plist>
