<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_hen_eat_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,0},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001_hen_eat_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,0},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0002_hen_eat_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,0},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0003_hen_eat_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,0},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0004_hen_walk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,0},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0005_hen_walk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,289},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0006_hen_walk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,289},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0007_hen_walk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,289},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0008_hen_walk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,289},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0009_hen_walk_b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,289},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0010_hen_walk_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,578},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0011_hen_walk_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,578},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0012_hen_walk_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,578},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0013_hen_eat07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,578},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0014_hen_eat06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,578},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0015_hen_eat05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,867},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0016_hen_eat04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,867},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0017_hen_eat03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,867},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0000_hen_eat_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,867},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0001_hen_eat_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,867},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0002_hen_eat_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,1156},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0003_hen_eat_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,1156},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0004_hen_walk06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,1156},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0005_hen_walk05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,1156},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0006_hen_walk04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,1156},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0007_hen_walk03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,1445},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0008_hen_walk02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,1445},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0009_hen_walk_b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,1445},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0010_hen_walk_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,1445},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0011_hen_walk_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,1445},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0012_hen_walk_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,1734},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0013_hen_eat07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{366,1734},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0014_hen_eat06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{732,1734},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0015_hen_eat05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1098,1734},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0016_hen_eat04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{1464,1734},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_0017_hen_eat03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{0,2023},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hen.png</string>
            <key>size</key>
            <string>{1830,2312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42fc94954d917dd0d91c9d258bf04381:7c98807985d29f8bf2004845ab8d997d:637071ee918ca6a29c94eb1282da8089$</string>
            <key>textureFileName</key>
            <string>hen.png</string>
        </dict>
    </dict>
</plist>
