<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Accerlerate_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{777,862},{70,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Add_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{640,744},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Arrow_Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{1009,854},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Arrow_Pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{904,894},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{874,596},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bar_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,16}</string>
                <key>spriteSourceSize</key>
                <string>{360,16}</string>
                <key>textureRect</key>
                <string>{{245,743},{360,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{976,704},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Business_License.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{242,280}</string>
                <key>spriteSourceSize</key>
                <string>{250,288}</string>
                <key>textureRect</key>
                <string>{{1,529},{242,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{1114,408},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Close_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{854,875},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1050,854},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_BG_Popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,121}</string>
                <key>spriteSourceSize</key>
                <string>{243,121}</string>
                <key>textureRect</key>
                <string>{{1,811},{243,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Common_Negative_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{886,414},{180,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Common_Positive_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,88}</string>
                <key>spriteSourceSize</key>
                <string>{188,88}</string>
                <key>textureRect</key>
                <string>{{423,779},{188,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cook_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{1078,624},{100,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cook_Frame_LevelS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{210,258}</string>
                <key>textureRect</key>
                <string>{{246,186},{210,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cook_Frame_LevelSR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{210,258}</string>
                <key>textureRect</key>
                <string>{{503,1},{210,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cook_Frame_LevelSSR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{210,258}</string>
                <key>textureRect</key>
                <string>{{763,1},{210,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cooking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{944,884},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cooperation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{423,906},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,55}</string>
                <key>spriteSourceSize</key>
                <string>{63,55}</string>
                <key>textureRect</key>
                <string>{{1176,878},{63,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,167}</string>
                <key>spriteSourceSize</key>
                <string>{193,167}</string>
                <key>textureRect</key>
                <string>{{443,574},{193,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,166}</string>
                <key>spriteSourceSize</key>
                <string>{189,166}</string>
                <key>textureRect</key>
                <string>{{697,414},{187,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Diamond03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,191}</string>
                <key>spriteSourceSize</key>
                <string>{221,191}</string>
                <key>textureRect</key>
                <string>{{939,215},{217,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{966,854},{28,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{788,582},{120,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gray_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{686,702},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,46}</string>
                <key>spriteSourceSize</key>
                <string>{151,46}</string>
                <key>textureRect</key>
                <string>{{638,574},{151,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Intelligence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{458,186},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jesus_Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,212}</string>
                <key>spriteSourceSize</key>
                <string>{226,212}</string>
                <key>textureRect</key>
                <string>{{1023,1},{226,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jesus_Light_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{196,183}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{245,558},{196,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jesus_Light_Rotating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{234,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{458,213},{234,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{976,746},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{640,727},{15,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,92}</string>
                <key>spriteSourceSize</key>
                <string>{188,92}</string>
                <key>textureRect</key>
                <string>{{1158,215},{188,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Logout_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,44}</string>
                <key>textureRect</key>
                <string>{{617,869},{68,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Long_Tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,114}</string>
                <key>textureRect</key>
                <string>{{968,516},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Message_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{976,588},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{1098,522},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Note.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{777,786},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,132}</string>
                <key>spriteSourceSize</key>
                <string>{222,132}</string>
                <key>textureRect</key>
                <string>{{473,440},{222,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup01_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{243,199}</string>
                <key>spriteSourceSize</key>
                <string>{243,203}</string>
                <key>textureRect</key>
                <string>{{694,213},{243,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,175}</string>
                <key>spriteSourceSize</key>
                <string>{132,175}</string>
                <key>textureRect</key>
                <string>{{246,779},{132,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Popup02_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,341}</string>
                <key>spriteSourceSize</key>
                <string>{243,341}</string>
                <key>textureRect</key>
                <string>{{1,186},{243,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{115,35}</string>
                <key>spriteSourceSize</key>
                <string>{115,39}</string>
                <key>textureRect</key>
                <string>{{423,869},{115,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{613,786},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup_Hire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{788,704},{80,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Popup_Let_Cook_Go_To_Work.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{695,816},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup_Purse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{695,744},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popup_Upgraded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{874,714},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{1050,886},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ProgressBar_Grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,16}</string>
                <key>spriteSourceSize</key>
                <string>{360,16}</string>
                <key>textureRect</key>
                <string>{{245,761},{360,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ProgressBar_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{687,886},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Red_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{95,42}</string>
                <key>textureRect</key>
                <string>{{1212,522},{95,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Red_Circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{855,818},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Red_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{110,37}</string>
                <key>spriteSourceSize</key>
                <string>{110,97}</string>
                <key>textureRect</key>
                <string>{{1216,405},{110,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Restartant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{144,106}</string>
                <key>textureRect</key>
                <string>{{968,408},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Restaurant_Button_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{60,87}</string>
                <key>textureRect</key>
                <string>{{540,869},{58,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seat_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{736,886},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{912,818},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound_Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1176,726},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound_Large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1176,804},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1084,726},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1084,818},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{607,743},{34,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tutorial_Narrator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{110,225}</string>
                <key>spriteSourceSize</key>
                <string>{150,253}</string>
                <key>textureRect</key>
                <string>{{246,446},{110,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tutorial_Text_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,183}</string>
                <key>spriteSourceSize</key>
                <string>{500,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upgrade_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,118}</string>
                <key>textureRect</key>
                <string>{{686,582},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{458,440},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Yellow_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{95,42}</string>
                <key>textureRect</key>
                <string>{{1212,619},{95,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GUIElements-1.png</string>
            <key>size</key>
            <string>{1255,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3a716408c93c154d30e7568174ac2c0:a46c60b0210a9222a0e18064881ef12c:dc25a394e2d7ca7bcb6ff7972863907e$</string>
            <key>textureFileName</key>
            <string>GUIElements-1.png</string>
        </dict>
    </dict>
</plist>
